<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理主页</title>
    <meta name="description" content="后台管理主页">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="http://cdn.bootcss.com/echarts/3.3.2/echarts.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/common.js?v=001"></script>
</head>

<body data-type="widgets">
<script src="__PUBLIC__/js/theme.js"></script>
<div class="am-g tpl-g">
    {include file="index/header" /}

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="container-fluid am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                    <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 后台首页 <small> admin</small></div>
                    <p class="page-header-description">后 台 管 理 模 块 查 看 管 理 各 类 信 息 </p>
                </div>
                <!-- <div class="am-u-lg-3 tpl-index-settings-button">
                    <button type="button" class="page-header-button tpl-skiner-toggle"><span class="am-icon-paint-brush"></span> 设置</button>
                </div> -->
            </div>

        </div>

        <div class="row-content am-cf">


        </div>
    </div>

</div>
</div>

<script src="http://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
<script src="__PUBLIC__/js/amazeui.datatables.min.js"></script>
<script src="__PUBLIC__/js/dataTables.responsive.min.js"></script>
<script src="__PUBLIC__/js/app.js"></script>

</body>

</html>
