<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{$system.WZMS.value}">
  <meta name="keywords" content="{$system.WZGJZ.value}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{$system.WZBT.value}</title>
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="__UPLOADS__/{$system.LOGO.value}">
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="__UPLOADS__/{$system.LOGO.value}">
  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="__UPLOADS__/{$system.LOGO.value}">
  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="__UPLOADS__/{$system.LOGO.value}">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css">
  <link rel="stylesheet" href="__PUBLIC__/css/app.css">
  <link rel="stylesheet" href="__PUBLIC__/css/common.css?v=3">
  <style>
    #huanyuanTabs ul{text-align: center;}
    #huanyuanTabs .am-nav-tabs>li{width: 33.33%;float:left;}
    #huanyuanTabs .am-nav-tabs>li>a{padding: 0.8rem 0;margin: 0;background:#999999;color: #fff;}
    #huanyuanTabs .am-tab-panel{background-color: #efefef;}
    #huanyuanTabs .am-nav-tabs>li.am-active>a, .am-nav-tabs>li.am-active>a:focus, .am-nav-tabs>li.am-active>a:hover{padding: 0.9rem;}
    #huanyuanTabs  h1{margin: 11px;}
    #huanyuanTabs  leibi{background-color: #f3f6f1;display: inline-block;padding: 1rem;position: relative;}

    .tishuzi em{font-style: initial;color: #2c5b36;}

    .wenzi,.wenzi li{list-style: disc;clear: both;    margin-left: 8.748px;color: #2c5b36;}
    .wenzi li p{font-size: 1.2rem;}
    .liebiao{border-left: 1px dashed #2c5b36;}
    .fukuan{background-color: #ffffff;box-shadow: 0px 1.5px 6.5px 0 rgba(0, 0, 0, 0.1);padding: 1rem;margin: 5%;width: 90%;overflow: hidden;min-height: 20rem;}
    .fukuan h2{background-color: #2c5b36;background-color: #2c5b36;color: #fff;width: 3rem;text-align: center;margin:1rem auto 0;border-radius: 50%;height: 3rem;line-height: 3rem;}
    .fukuanby{background-color: #f3f6f1;padding: 5rem 0;}
    
    .shijianzou .xiaopaixu{border-left:0px;margin-left:0;}
    .shijianzou .xiaopaixu-li{list-style: disc;clear: both;margin-left: 1.5rem;margin-bottom: 1rem;margin-right: 1.5rem;}
    .shijianzou span{background: #2c5b36;color: #fff;padding: 0.4rem 0.6rem;}
    .shijianzou .am-u-sm-10 .doc-am-g{box-shadow: 0px 1.5px 6.5px 0 rgba(0, 0, 0, 0.1);margin-right: 1.1rem;}
    #tab2 [class*=am-u-] {padding-left: 0;padding-right: 0rem;}
    #tab2 [class*=am-u-] .am-padding-lg{padding: 1.4rem 1.4rem;}
    img{display: block;}

    .shijianzou ul {border-left: 1px solid #2c5b36;margin-left: 4%;}
    .shijianzou li{margin-left: -8%;margin-bottom: 4rem;}
    .shijianzou .dikuan .xiaopaixu .xiaopaixu-li{margin-left: 2rem;}

    .shijianzou .dikuan{margin-left: 3rem;box-shadow: 0px 1.5px 6.5px 0 rgba(0, 0, 0, 0.1);margin-right: 0.1rem;}
  </style>
</head>
<body>
  {include file="common/header" /}
  <!-- 主体内容 -->
  <div class="am-text-center">
    <!-- 头图 -->
    <div class="am-g">
      <a href="{$result.items.0.link? $result.items.0.link : 'javascript:;'}" >
        <img src="__UPLOADS__/{$result.items.0.img_url}" width="100%" alt="{$result.items.0.key_word}"/>
      </a>
    </div>
    
    <!-- 面包屑 -->
    <div class="am-g am-g-fixed am-padding-sm">
        <ol class="am-breadcrumb am-breadcrumb-slash am-text-left">
            <li><a href="{:url('index/index')}">首页</a></li>
            <li>健康科普管</li>
        </ol>
    </div>
    
    <!-- 资讯内容 -->
    <div class="am-g am-g-fixed">
      <div class="am-tabs" id="someTabs" data-am-tabs="{noSwipe: 1}">

          <ul class="am-tabs-nav am-nav am-nav-tabs am-u-sm-12 am-u-md-3 am-u-lg-3 ">
            <li class="am-active"><a href="#tab1">国家认证与区别<i class="am-icon-caret-right"></i></a></li>
            <li><a href="#tab2">心脑血管疾病<i class="am-icon-caret-right"></i></a></li>
          </ul>

          <div class="am-tabs-bd am-u-sm-12 am-u-md-9 am-u-lg-9 am-text-left">
            <div class="am-tab-panel am-fade am-in am-active" id="tab1">
              <div class="am-text-center">
                  <h1>关于国家认证字号</h1>
                  <h3 class="green1">国家认证“药字号”、“健字号”、“食字号”分别都是什么？</h3>
              </div>
              <div class="am-margin-top-sm" id="huanyuanTabs">
                  <div class="am-tabs" data-am-tabs="{noSwipe: 1}" id="doc-tab-demo-1">
                      <ul class="am-tabs-nav am-nav am-nav-tabs">
                        <li class="am-active"><a href="javascript: void(0)">药字号</a></li>
                        <li><a href="javascript: void(0)">健字号</a></li>
                        <li><a href="javascript: void(0)">食字号</a></li>
                      </ul>
                    
                      <div class="am-tabs-bd">
                        <div class="am-tab-panel am-active">
                          <img class="am-margin-sm" src="__PUBLIC__/img/fitness_01.png" width="130px" alt="">
                          <div class="am-g doc-am-g">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <h1 class="green1">药字号</h1>
                                <p class="am-text-xs">是经过国家食品药品监督管理局批准的，颁发给生产企业的允许该企业生产该品种的批准文号，它是个性化的，每个生产企业每个生产品种都有自己独有的批准文号，即平常所说的“药字号”。</p>
                                <p class="am-text-xs">根据国家药监局规定，自2003年6月30日后生产的药品实施新的批准文号，格式是：国药准字+1位拼音字母+8位数字，字母用拼音字头表示药品类别，数字表示批准药品生产的部门、年份及顺序号。</p>
                            </div>
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                              <img src="__PUBLIC__/img/fitness_02.jpg" width="100%" alt="">
                            </div>
                          </div>
                          <h3 class="green1 leibi">主要针对疾病直接治疗使用，又可以分为：处方药和非处方药（OTC）</h3>

                        </div>
                        <div class="am-tab-panel">
                            <img class="am-margin-sm" src="__PUBLIC__/img/fitness_03.png" width="130px" alt="">
                            <div class="am-g doc-am-g">
                              <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                  <h1 class="green1">健字号</h1>
                                  <p class="am-text-xs">申请健字号需向国家食品药品监督管理局申请，需经过规定流程并通过。 保健食品 保健食品是食品的一个种类，具有一般食品的共性，能调节人体的机能，适于特定人群 食用，但不能治疗疾病。</p>
                                  <p class="am-text-xs">《保健食品注册管理办法(试行)》2005 年 7 月 1 日正式实施，严格定义：保健食品是 指声称具有特定保健功能或者以补充维生素、矿物质为目的的食品，即适宜于特定人群食用，具有调节机体功能，不以治疗疾病为目的，并且对人体不产生任何急性、亚急性或者 慢性危害的食品。</p>
                              </div>
                              <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <img src="__PUBLIC__/img/fitness_04.png" width="70%" alt="">
                                <h3>健字号产品标志</h3>
                                <p class="am-text-xs">天蓝色图案，下有保健食品字样，俗称“蓝帽子标志”。国家工商局和卫生部规定在影 视、报刊、印刷品、店堂、户外广告等可视广告中，保健食品标志所占面积不得小于全部 广告面积的 1/36。其中报刊、印刷品广告中的保健食品标志，直径不得小于 1 厘米。</p>
                              </div>
                            </div>

                        </div>
                        <div class="am-tab-panel">
                            <img class="am-margin-sm" src="__PUBLIC__/img/fitness_05.png" width="200px" alt="">
                            <div class="am-g doc-am-g">
                              <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                  <h1 class="green1">食字号</h1>
                                  <p class="am-text-xs"> 各省、直辖市的疾病控制中心(或卫 生防疫站) 、中国 CDC 食品卫生监督检验所、中国预防医学科学院、以及部分医学院校等检测机构通过接受企业的委托，负责对产品进行技术检验，并出具检验报告。</p>
                                  <p class="am-text-xs">省药监局受理处和国家药监局保健食品评审中心受理办，负责对企业的申报材料进行初步审核，材料符合要求则，负责安排产品参加评审会，将评审意见通知企业，对于拟批准的产品上报行政部门审批，发放证书等。</p>
                                  <p class="am-text-xs">国家药监局保健食品评审中心同时负责组织专家对申报的产品进行技术评审。</p>
                              </div>
                              <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <img src="__PUBLIC__/img/fitness_06.jpg" width="100%" alt="">
                              </div>
                            </div>
                            <p class="am-text-xs">国家药监局注册司对评审委员会技术评审的产品进行审核，如符合有关法规的规定，则予以批准。</p>
                        </div>
                      </div>
                    </div>
              </div>
              <h3 class="am-text-xs am-margin-bottom-xl tishuzi"><em>“药字号”、“健字号”、“食字号”</em>对应的产品均不相同，互相之间作用不可替代，选择不同的产品请认准不同字号，<em>国家认证更有保障！</em></h3>
              <h1 class="green1">保健品与药品有什么区别？</h1>
              <hr>
              <div class="liebiao">
                <ul class="wenzi am-text-xl">
                  <li><p>国药健字牌和国药准字号所代表的产品不同。国药健字牌是指的保健品，不具备治疗疾病的作用；国药准字号是指是药品，具有治疗疾病的作用。</p></li>
                  <li><p>国药健字牌和国药准字号产品效果不同。国药健字牌保健品是用于调节机体机能，提高人体抵御疾病的能力，改善亚健康状态，降低疾病发生的风险，不以预防、治疗疾病为目的。国药准字号药品是指用于预防、治疗、诊断人的疾病，有目的地调节人的生理机能并规定有适应症或者功能主治、用法和用量的物质。</p></li>
                  <li><p>审批机构不同。国药准字号是指是国家药监局批准的，准予生产的药品。国食健字是国家食品药品监督局批准的准予生产的保健品。</p></li>
                  <li><p>药品是治疗疾病的物质，保健食品的本质仍是食品。虽然保健品有调节人体某种机能的作用，但它不是人类赖以治疗疾病的物质。</p></li>
                </ul>
              </div>
              <h1 class="green1 am-margin-top-xl">一般食品和保健食品区别</h1>
              <hr>
              <div class="fukuanby">
                <div class="am-g doc-am-g">
                  <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                    <div class="fukuan">
                        <h2>01</h2>
                        <p class="am-text-xs am-margin-top-lg am-margin-bottom-lg">保健食品含一定量功效成分(生理活性物质)，能调节人体机能，具有特定功能(食品 的第三功能)；而一般食品不强调特定功能(食品的第三功能)。</p>
                        <img src="__PUBLIC__/img/fitness_07.png" class="am-fr" width="60px" alt="">
                    </div>
                  </div>
                  <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                      <div class="fukuan">
                          <h2>02</h2>
                          <p class="am-text-xs am-margin-top-lg am-margin-bottom-lg">保健食品一般有特定食用范围(特定人群)，而一般食品没有浓缩(或添加纯度较高的某种生理活性物质)，使其在人体内达到发挥作用的浓度，从而具备了食品第三功能。</p>
                          <img src="__PUBLIC__/img/fitness_08.png" class="am-fr" width="60px" alt="">
                      </div>
                  </div>
                </div>
              </div>
              <h1 class="green1 am-margin-top-xl">保健食品分类</h1>
              <hr>
              <img src="__PUBLIC__/img/fitness_09.jpg" width="100%" alt="">
              <p class="am-text-xs am-margin-top-lg">标准规定，保健食品应有与功能作用相对应的功效成分及其最低含量。功效成分是指能 通过激活酶的活性或其他途径，调节人体机能的物质。</p>
              <p class="am-text-xs">功能性保健食品，2003 年 5 月 1 日起实施的《保健食品检验与评审技术规范》规定保 健食品的申报功能为：增强免疫力、改善睡眠、缓解体力疲劳、提高缺氧耐受力、对辐射危害有辅助保护功能、增加骨密度、对化学性肝损伤有辅助保护功能、缓解视疲劳、祛痤疮、祛黄褐斑、改善皮肤水份、改善皮肤油份、减肥、辅助降血糖、改善生长发育、抗氧化、改善营养性贫血、辅助改善记忆、调节肠道菌群、促进排铅、促进消化、清咽、对胃粘膜有辅助、保护功能促进泌乳、通便、辅助降血压、辅助降血脂共27种。除以上，营养素类也纳入保健食品的管理范畴，称为营养素补充剂（如维生素、矿物质 为主要原料的产品），以补充人体营养素为目的。健字号有效期为 5 年，需进行年审。</p>

            </div>

            <div class="am-tab-panel am-fade" id="tab2">
                <h1 class="green1">关于心脑血管</h1>
                <div class="shijianzou ">
                  <ul>
                    <li>
                        <div class="am-g doc-am-g">
                          <div class="am-u-sm-2 am-u-md-2 am-u-lg-2 am-text-center"><span>ONE</span></div>
                          <div class="am-u-sm-10 am-u-md-10 am-u-lg-10">
                            <div class="am-g doc-am-g">
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6 am-padding-lg">
                                  <h3>心脑血管疾病的最大诱因—低密度脂蛋白胆固醇！</h3>
                                  <ul class="xiaopaixu">
                                    <li class="xiaopaixu-li am-margin-left-sm am-text-xs">高密度脂蛋白(HDL):又称为好的胆固醇，可维持周边血管的健康。</li>
                                    <li class="xiaopaixu-li am-margin-left-sm am-text-xs">低密度脂蛋白(LDL):又称为坏的胆固醇，会造成血管硬化及阻塞。</li>
                                    <li class="xiaopaixu-li am-margin-left-sm am-text-xs">临床实验证明高血清胆固醇，特别是其中的低密度脂蛋白（LDL）胆固醇是心脑血管性疾病主要诱发因素。降低血清胆固醇水平被公认是减少心脑血管疾病的有效措施！</li>
                                  </ul>
                                </div>
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                  <img src="__PUBLIC__/img/fitness_10.jpg" width="100%" alt="">
                                </div>
                            </div>
                          </div>
                        </div>
                    </li>
                    <li>
                        <div class="am-g doc-am-g">
                          <div class="am-u-sm-2 am-u-md-2 am-u-lg-2 am-text-center"><span>TOW</span></div>
                          <div class="am-u-sm-10 am-u-md-10 am-u-lg-10">
                            <div class="am-g doc-am-g">
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6 am-padding-lg">
                                  <h3>心脑血管疾病的最大诱因—低密度脂蛋白胆固醇！</h3>
                                  <ul class="xiaopaixu">
                                    <li class="xiaopaixu-li am-margin-left-sm am-text-xs">高密度脂蛋白(HDL):又称为好的胆固醇，可维持周边血管的健康。</li>
                                    <li class="xiaopaixu-li am-margin-left-sm am-text-xs">低密度脂蛋白(LDL):又称为坏的胆固醇，会造成血管硬化及阻塞。</li>
                                    <li class="xiaopaixu-li am-margin-left-sm am-text-xs">临床实验证明高血清胆固醇，特别是其中的低密度脂蛋白（LDL）胆固醇是心脑血管性疾病主要诱发因素。降低血清胆固醇水平被公认是减少心脑血管疾病的有效措施！</li>
                                  </ul>
                                </div>
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                  <img src="__PUBLIC__/img/fitness_11.jpg" width="100%" alt="">
                                </div>
                            </div>
                          </div>
                        </div>
                    </li>
                    <li>
                        <div class="am-g doc-am-g">
                          <div class="am-u-sm-2 am-u-md-2 am-u-lg-2 am-text-center"><span>THREE</span></div>
                          <div class="am-u-sm-10 am-u-md-10 am-u-lg-10">
                              <h3>心脑血管疾病的最大诱因—低密度脂蛋白胆固醇！</h3>
                          </div>
                        </div>
                    </li>
                  </ul>
                  <div class="am-g doc-am-g dikuan">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                      <img src="__PUBLIC__/img/fitness_12.jpg" width="100%" alt="">
                      <p><strong>高血胆固醇使血管变窄</strong></p>
                      <ul class="xiaopaixu">
                        <li class="xiaopaixu-li am-margin-left-sm am-text-xs">血液中过多的胆固醇附着在血管上，时间一长,就像水管的水锈一样越积越厚,形成黄色脂肪状斑块，使血管越来越窄.</li>
                      </ul>
                    </div>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <p><strong>高血胆固醇使血管变窄</strong></p>
                        <ul class="xiaopaixu">
                          <li class="xiaopaixu-li am-margin-left-sm am-text-xs">血液中过多的胆固醇附着在血管上，时间一长,就像水管的水锈一样越积越厚,形成黄色脂肪状斑块，使血管越来越窄.</li>
                        </ul>
                        <img src="__PUBLIC__/img/fitness_13.jpg" width="100%" alt="">
                    </div>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <img src="__PUBLIC__/img/fitness_14.jpg" width="100%" alt="">
                        <p><strong>高血胆固醇使血管变窄</strong></p>
                        <ul class="xiaopaixu">
                          <li class="xiaopaixu-li am-margin-left-sm am-text-xs">血液中过多的胆固醇附着在血管上，时间一长,就像水管的水锈一样越积越厚,形成黄色脂肪状斑块，使血管越来越窄.</li>
                        </ul>
                    </div>
                  </div>
                </div>
                
            </div>

          </div>

      </div>

        
    </div>


  </div>
  {include file="common/footer" /}
  {include file="common/common" /}
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!--<![endif]-->
<!-- [if lte IE 8 ]> -->
<!-- <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__PUBLIC__/js/amazeui.ie8polyfill.min.js"></script> -->
<!-- <![endif] -->
<script src="__PUBLIC__/js/amazeui.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script>
  {if condition="isset($_GET['id'])"}
    $('#someTabs').tabs('open', {$_GET['id']});
  {/if}
</script>
</body>
</html>