<!-- 底部 -->
<div class="diy-dibu ">
		<div class="am-g am-g-fixed am-padding-lg ">
				<div class="am-g doc-am-g">
					<div class="am-u-sm-12 am-u-md-9 am-u-lg-9">
							<div class="am-u-sm-12 am-u-md-9 am-u-lg-9">
									<ul class="am-avg-sm-4 am-avg-md-4 am-avg-lg-4 am-thumbnails">
										<li><a href="{:url('index/index')}">首页</a></li>
										<li><a href="{:url('index/info')}">最新资讯</a></li>
										<li><a href="{:url('index/about')}">关于左之堂</a></li>
										<li><a href="{:url('index/product','id=0')}">健字号</a></li>
										<li><a href="{:url('index/product','id=1')}">食字号</a></li>
										<li><a href="{:url('index/specialty','id=0')}">植物甾醇介绍</a></li>
										<li><a href="{:url('index/specialty','id=1')}">植物甾醇Q&A</a></li>
										<li><a href="{:url('index/specialty','id=2')}">其他合作产品</a></li>
										<li><a href="{:url('index/fitness','id=0')}">国家认证与区别</a></li>
										<li><a href="{:url('index/fitness','id=1')}">心脑血管疾病</a></li>
										<li><a href="{:url('index/service','id=0')}">合作联系</a></li>
										<li><a href="{:url('index/service','id=1')}">客服联系</a></li>
									</ul>
							</div>
					</div>
					<div class="am-u-sm-12 am-u-md-3 am-u-lg-3 erweima am-text-center">
						<img src="__UPLOADS__/{$system.GZH.value}" width="90%" alt="">
						<h3>扫描二维码 关注公众号</h3>
					</div>
				</div>
		</div>
		<div class="bangquan am-text-center">{$system.BAXX.value}</div>
</div>